<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

<!-- ======= Navbar Section ======= -->
<%- include('partials/nav') %>
<!-- End Navbar -->

<!-- ======= Main Section ======= -->
<main id="main">
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Chat Room</h2>
                <p>The color code key below shows who sent the message:</p>
                <div class="color-code-key">
                    <div class="box yellow-bg">Tutor</div>
                    <div class="box blue-bg">Received</div>
                    <div class="box green-bg">Sent</div>
                </div>

            </div>
            <div style="margin-bottom: 50px;"  data-aos="fade-down">
                <% if (messages && messages.length > 0) { %>
                    <% messages.forEach(message => { %>
                        <% 
                            var timestamp = new Date(message.timestamp);
                            var today = new Date();
                            var yesterday = new Date(today);
                            yesterday.setDate(today.getDate() - 1);
                            var dateStr;
                            if (timestamp.toDateString() === today.toDateString()) {
                                dateStr = "Today";
                            } else if (timestamp.toDateString() === yesterday.toDateString()) {
                                dateStr = "Yesterday";
                            } else {
                                dateStr = timestamp.toLocaleDateString();
                            }
                            var hours = timestamp.getHours();
                            var minutes = timestamp.getMinutes();
                            var ampm = hours >= 12 ? 'PM' : 'AM';
                            hours = hours % 12;
                            hours = hours ? hours : 12;
                            minutes = minutes < 10 ? '0' + minutes : minutes;
                            var timeStr = hours + ':' + minutes + ' ' + ampm;
                        %>
                        <% if(locals.userID === message.user_id){ %>
                            <div class="d-flex justify-content-end mb-4">
                                <% if(message.tutor){ %>
                                    <div class="msg_cotainer_send" style="width: 250px; background-color: yellow;">
                                        <%= message.message %>
                                        <span class="msg_time"><span><%= message.name.split(' ')[0] %></span> <span><%= timeStr + ', ' + dateStr %></span></span>
                                        <form action="/delete-message/<%= message.message_id %>" style="margin: 4px 0;" method="post">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete <i class="bi bi-trash"></i></button>
                                        </form>
                                    </div>
                                <% } else { %>
                                    <div class="msg_cotainer_send" style="width: 250px;">
                                        <%= message.message %>
                                        <span class="msg_time"><span><%= message.name.split(' ')[0] %></span> <span><%= timeStr + ', ' + dateStr %></span></span>
                                        <form action="/delete-message/<%= message.message_id %>" style="margin: 4px 0;" method="post">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete <i class="bi bi-trash"></i></button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="d-flex justify-content-start mb-4">
                                <% if(message.tutor){ %>
                                    <div class="msg_cotainer" style="width: 250px; background-color: yellow;">
                                        <%= message.message %>
                                        <span class="msg_time"><span><%= message.name.split(' ')[0] %></span> <span><%= timeStr + ', ' + dateStr %></span></span>
                                        <% if (tutor) { %>
                                            <form action="/delete-message/<%= message.message_id %>" style="margin: 4px 0;" method="post">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete <i class="bi bi-trash"></i></button>
                                            </form>
                                        <% } %>
                                    </div>
                                <% } else { %>
                                    <div class="msg_cotainer" style="width: 250px;">
                                        <%= message.message %>
                                        <span class="msg_time"><span><%= message.name.split(' ')[0] %></span> <span><%= timeStr + ', ' + dateStr %></span></span>
                                        <% if (tutor) { %>
                                            <form action="/delete-message/<%= message.message_id %>" style="margin: 4px 0;" method="post">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete <i class="bi bi-trash"></i></button>
                                            </form>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                    <% }) %>
                <% } else { %>
                    <p>No messages available</p>
                <% } %>
            </div>
            <form  class="input-group-chatroom" action="/send-message" method="post">
                <% if(error){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                <% } %>
                <div class="div-message">
                    <input type="text" required name="message" class="form-control-chatroom"><input type="submit" class="btn-primary-chatroom" value="Send Message">
                </div>
            </form>
        </div>
    </section>
</main>
<!-- End #main -->
<%- include('partials/ending') %>
