<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

    <!-- ======= Navbar Section ======= -->
        <%- include('partials/nav') %>
    <!-- End Navbar -->

    <!-- ======= Hero Section ======= -->
        <%- include('partials/hero') %>
    <!-- End Hero -->

    <!-- ======= Main Section ======= -->
        <main id="main">
            <!-- ======= About Section ======= -->
                <%- include('partials/about') %>
            <!-- End About Section -->

            <!-- ======= Counts Section ======= -->
                <%- include('partials/count') %>
            <!-- End Counts Section -->

            <!-- ======= Testimonials Section ======= -->
                <%- include('partials/testimonial') %>
            <!-- End Testimonials Section -->

            <!-- ======= Services Section ======= -->
                <%- include('partials/service') %>
            <!-- End Sevices Section -->

            <!-- ======= Pricing Section ======= -->
                <%- include('partials/pricing') %>
            <!-- End Pricing Section -->

            <!-- ======= Frequently Asked Questions Section ======= -->
                <%- include('partials/FAQs') %>
            <!-- End Frequently Asked Questions Section -->

            <!-- ======= Contact Section ======= -->
                <%- include('partials/contact') %>
            <!-- End Contact Section -->
        </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
        <%- include('partials/footer') %>
    <!-- End Footer -->
<%- include('partials/ending') %>
