<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

    <!-- ======= Navbar Section ======= -->
        <%- include('partials/nav') %>
    <!-- End Navbar -->

    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 text-center">
                    <h1 style="font-size: 30px;">CALAFILES Notes Repository</h1>
                    <p>Explore the collection of notes on CALAFILES designed to enrich your academic journey.</p>
                    <p><%= pdf.length %> notes uploaded. Click the done button on the note after you have completed it.</p>
                </div>
            </div>
            <div class="row icon-boxes">
                <% pdf.forEach(file => { %>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="<%= pdf.indexOf(file)+1 %>00">
                        <div class="icon-box">
                            <h4 class="title"><a href="/pdf/<%= file.filename %>" target="_blank" rel="noopener noreferrer"><%= file.title %></a></h4>
                            <p class="description"><%= file.def %></p>
                            <a href="/pdf/<%= file.filename %>" target="_blank" rel="noopener noreferrer" style="font-weight: bold; margin: 5px 0;" class="download-link done-btn"><i class="bi bi-arrows-angle-expand"></i> Preview</a>
                            <div style="display: flex; justify-content: space-between;">
                                <% if(file.user_id === locals.userID){ %>
                                    <a href="/pdf/<%= file.filename %>" download="<%= file.title %>" style="background-color: #82ccdd; color: black; font-weight: bold;" class="download-link done-btn" style="font-size: 15px;"><i class="bi bi-download"></i> Re-download</a>
                                    <form action="/undo" method="post">
                                        <input type="hidden" name="file_id" value="<%= file.id %>">
                                        <input type="hidden" name="user_id" value="<%= locals.userID %>">
                                        <button class="done-btn" style="background-color: #82ccdd; color: black; font-weight: bold;" type="submit"><i class="bi bi-check-all"></i> Undo</button>
                                    </form>
                                <% } else { %>
                                    <a href="/pdf/<%= file.filename %>" download="<%= file.title %>" class="download-link done-btn" style="font-size: 15px;"><i class="bi bi-download"></i> Download</a>
                                    <form action="/done" method="post">
                                        <input type="hidden" name="file_id" value="<%= file.id %>">
                                        <input type="hidden" name="user_id" value="<%= locals.userID %>">
                                        <button class="done-btn" type="submit"><i class="bi bi-check-all"></i> Done</button>
                                    </form>
                                <% } %>
                            </div>
                            <% if (tutor) { %>
                                <form action="/delete-pdf/<%= file.id %>" style="margin: 4px 0;" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete <i class="bi bi-trash"></i></button>
                                </form>
                            <% } %>
                            <embed src="/pdf/<%= file.filename %>" type="application/pdf" class="pdf-preview"/>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    
        <!-- ======= Main Section ======= -->
        <main id="main">
            <!-- ======= Contact Section ======= -->
                <%- include('partials/contact') %>
            <!-- End Contact Section -->
        </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
        <%- include('partials/footer') %>
    <!-- End Footer -->
<%- include('partials/ending') %>
