<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

<!-- ======= Navbar Section ======= -->
<%- include('partials/nav') %>
<!-- End Navbar -->

<!-- ======= Main Section ======= -->
<main id="main">
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>OTP Confirmation</h2>
                <p>Enter the OTP sent to your new email to confirm the email update. If you didn't receive the code, <a href="/contact">click here to contact the admin</a>.</p>
            </div>
            <form action="/verify-email-otp" method="post" role="form" class="php-email-form">
                <% if(error){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                <% } %>
                <input type="hidden" name="name" value="<%= user.name %>">
                <input type="hidden" name="email" value="<%= user.email %>">
                <input type="hidden" name="profile" value="<%= user.profile %>">
                <div class="row gy-2 gx-md-3">
                    <div class="form-group col-12">
                        <label for="otp">Enter OTP</label>
                        <input type="text" class="form-control" name="otp" id="otp" />
                    </div>
                    <div class="text-center col-12">
                        <button type="submit">Confirm OTP</button>
                    </div>
                </div>
            </form>
        </div>
    </section>            
</main>
<!-- End #main -->
<%- include('partials/ending') %>
