<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

<!-- ======= Navbar Section ======= -->
<%- include('partials/nav') %>
<!-- End Navbar -->

<!-- ======= Main Section ======= -->
<main id="main">
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>MY PROGRESS</h2>
            </div>
            <div style="margin-bottom: 50px;"  data-aos="fade-down">
                <div class="profile-container">
                    <img src="/profile/<%= user.profilepicture %>" alt="Profile Picture" class="profile-picture">
                    <p><strong>Name:</strong> <%= user.name %></p>
                    <p><strong>Admission Number:</strong> <%= user.id %></p>
                    <div class="progress-container">
                        <div class="progress-label">Progress: <%= user.progress.toFixed(2) %>%</div>
                        <progress class="progress-bar" value="<%= user.progress.toFixed(2) %>" max="100"><%= user.progress.toFixed(2) %></progress>
                    </div>
                    <div class="admin-remark">
                        <p>
                            <strong>Admin Remark:</strong>
                            <% if(user.progress.toFixed(2) >= 80) { %> 
                                Well done!&#x1F60A;
                            <% } else if(user.progress.toFixed(2) >= 65) { %>
                                Keep it up!&#x1F603;
                            <% } else if(user.progress.toFixed(2) >= 50) { %>
                                Average. Work harder!&#x1F616;
                            <% } else if(user.progress.toFixed(2) >= 20) { %>
                                Below Average. Be more serious!&#x1F612;
                            <% } else { %>
                                Poor. Go and learn, dummy!&#128544;
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->
<%- include('partials/ending') %>
