<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

    <!-- ======= Navbar Section ======= -->
        <%- include('partials/nav') %>
    <!-- End Navbar -->

    <!-- ======= Main Section ======= -->
        <main id="main">
            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Sign Up</h2>
                        <p>Enter your details to access the teachers dashboard</p>
                    </div>
                    <form action="/signup" method="post" role="form" class="php-email-form">
                        <% if(error){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= message %>
                        </div>
                        <% } %>
                        <div class="row gy-2 gx-md-3">
                            <div class="col-md-6 form-group">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control" name="name" value="<%= mwalimu.name %>" required id="name" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" name="email" value="<%= mwalimu.email %>" required id="email" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" value="<%= mwalimu.password %>" required id="password" />
                                    <button type="button" class="btn btn-outline-secondary" id="showPasswordToggle">
                                        <i class="bi bi-eye" id="eyeIconPassword"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="confirmpassword">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="confirmpassword" value="<%= mwalimu.confirmpassword %>" required id="confirmpassword" />
                                    <button type="button" class="btn btn-outline-secondary" id="showConfirmPasswordToggle">
                                        <i class="bi bi-eye" id="eyeIconConfirmPassword"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-center col-12">
                                <button type="submit">Signup</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        document.getElementById('showPasswordToggle').addEventListener('click', function () {
                            var passwordInput = document.getElementById('password')
                            var eyeIcon = document.getElementById('eyeIconPassword')
                            if (passwordInput.type === 'password') {
                                passwordInput.type = 'text'
                                eyeIcon.classList.remove('bi-eye')
                                eyeIcon.classList.add('bi-eye-slash')
                            } else {
                                passwordInput.type = 'password'
                                eyeIcon.classList.remove('bi-eye-slash')
                                eyeIcon.classList.add('bi-eye')
                            }
                        })
                    
                        document.getElementById('showConfirmPasswordToggle').addEventListener('click', function () {
                            var confirmPasswordInput = document.getElementById('confirmpassword')
                            var eyeIcon = document.getElementById('eyeIconConfirmPassword')
                            if (confirmPasswordInput.type === 'password') {
                                confirmPasswordInput.type = 'text'
                                eyeIcon.classList.remove('bi-eye')
                                eyeIcon.classList.add('bi-eye-slash')
                            } else {
                                confirmPasswordInput.type = 'password'
                                eyeIcon.classList.remove('bi-eye-slash')
                                eyeIcon.classList.add('bi-eye')
                            }
                        })
                    </script>
                    
                </div>
            </section>            
        </main>
    <!-- End #main -->
<%- include('partials/ending') %>
